series: bionic
variables:
  openstack-origin: &openstack-origin cloud:bionic-ussuri/proposed

applications:
  keystone:
    options:
      openstack-origin: *openstack-origin
  mysql:
    options:
      source: *openstack-origin
  swift-proxy:
    options:
      openstack-origin: *openstack-origin
  swift-storage-z1:
    options:
      openstack-origin: *openstack-origin
  swift-storage-z2:
    options:
      openstack-origin: *openstack-origin
  swift-storage-z3:
    options:
      openstack-origin: *openstack-origin
