series: focal
variables:
  openstack-origin: &openstack-origin cloud:focal-wallaby/proposed

applications:
  aodh:
    options:
      openstack-origin: *openstack-origin
  barbican:
    options:
      openstack-origin: *openstack-origin
  ceilometer:
    options:
      openstack-origin: *openstack-origin
  ceph-mon:
    options:
      source: *openstack-origin
  ceph-osd:
    options:
      source: *openstack-origin
  ceph-radosgw:
    options:
      source: *openstack-origin
  cinder:
    options:
      openstack-origin: *openstack-origin
  designate:
    options:
      openstack-origin: *openstack-origin
  glance:
    options:
      openstack-origin: *openstack-origin
  heat:
    options:
      openstack-origin: *openstack-origin
  keystone:
    options:
      openstack-origin: *openstack-origin
  neutron-api:
    options:
      openstack-origin: *openstack-origin
  placement:
    options:
      openstack-origin: *openstack-origin
  nova-cloud-controller:
    options:
      openstack-origin: *openstack-origin
  nova-compute:
    options:
      openstack-origin: *openstack-origin
  openstack-dashboard:
    options:
      openstack-origin: *openstack-origin
  ovn-central:
    options:
      source: *openstack-origin
  octavia:
    options:
      openstack-origin: *openstack-origin
  octavia-diskimage-retrofit:
    charm: cs:octavia-diskimage-retrofit
    options:
      retrofit-uca-pocket: wallaby
      retrofit-series: focal
  rabbitmq-server:
    options:
      source: *openstack-origin
