variables:
    TEST_GATEWAY: '{{ TEST_GATEWAY }}'
    TEST_CIDR_EXT: '{{ TEST_CIDR_EXT }}'
    TEST_FIP_RANGE: '{{ TEST_FIP_RANGE }}'
    TEST_NAME_SERVER: '{{ TEST_NAME_SERVER }}'
    TEST_SWIFT_IP: '{{ TEST_SWIFT_IP }}'
