variables:
  openstack-origin: &openstack-origin cloud:bionic-stein

series: &series bionic
machines:
  0:
    constraints: "mem=3072M"
  1: {}
applications:
  percona-cluster:
    options:
      source: *openstack-origin
  keystone:
    options:
      openstack-origin: *openstack-origin
