variables:
  openstack-origin: &openstack-origin cloud:bionic-stein

series: &series bionic
machines:
  0:
    constraints: "mem=3072M"
  1: {}
  2: {}
  3: {}
  4: {}
  5: {}
  6: {}
  7:
    constraints: "root-disk=20G mem=4G"
  8:
    constraints: "root-disk=20G mem=4G"
  9: {}
applications:
  percona-cluster:
    options:
      source: *openstack-origin
  rabbitmq-server:
    options:
      source: *openstack-origin
  neutron-api:
    options:
      openstack-origin: *openstack-origin
  keystone:
    options:
      openstack-origin: *openstack-origin
  glance:
    options:
      openstack-origin: *openstack-origin
  neutron-gateway:
    options:
      openstack-origin: *openstack-origin
  nova-cloud-controller:
    options:
      openstack-origin: *openstack-origin
  nova-compute:
    options:
      openstack-origin: *openstack-origin
  cinder:
    options:
      openstack-origin: *openstack-origin
